/*
    red: #E73F3F
    orange: #F76C27
    yellow: #E7E737
    blue: #6D9DD1
    purple: #7E45D3
*/

.pure-menu-horizontal {
    text-align: center;
}

.topo {
    padding: 50px;
    color: black;
    text-align: center;
    text-shadow: 3px 3px 10px white;
    font-size: 25px;
    height: 260px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../imagens/logo.jpg');    
    background-repeat: no-repeat;
    background-size: cover;
}

.pure-g{
    padding: 30px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(148, 148, 148);
}

.footer{
    
    padding: 10px;
    width: 400px;    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(206, 238, 142);
    background-size: cover;
    
}