<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css">
</head>

<body>

    <style>
        
    </style>

    <template>

        <Nav class="pure-menu pure-menu-horizontal">
            <!-- this is where our nav menu will go -->
            <a href="#" class="pure-menu-heading pure-menu-link">RT </a>

            <ul class="pure-menu-list">

                <li class="pure-menu-item"> <a href="#" class="pure-menu-link">Blog</a></li>

                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link">Dieta</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Calculadoras</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Diet Plans</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Personalize</a></li>
                    </ul>
                </li>

                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link">Contatos</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"> <a href="#" class="pure-menu-link">Redes Sociais</a></li>
                        <li class="pure-menu-item"> <a href="#" class="pure-menu-link">Parceiros</a> </li>
                        <li class="pure-menu-item"> <a href="#" class="pure-menu-link">Trabalhe conosco</a> </li>
                        <li class="pure-menu-item"> <a href="#" class="pure-menu-link">reporte um erro</a> </li>
                    </ul>
                </li>


                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sobre</a></li>

            </ul>

        </Nav>
    </template>

</body>

</html>